# GPHY 491-591 Lab 1
Written by Cascade Tuholske, Jan. 2024  

### <u> Goals <u>

    The goals of this lab are to practice making lists and using control statements, while familiarizing 
    yourself with basics of python data types and structures. While there are best practicies, there are no per say correct answers with this lab.

### <u> Instruction <u>
1. Please rename your notebook as: `Last_First_Lab1` **NOTE:** Naming convetions matter for files, including notebooks and data. Always be consistant. 
2. Complete lab by writing code in the cells as in structed by the comments
3. Move your notebook to XXXXXXX

## Let's make some lists

In [1]:
# Make a list with ten first names of your choosing
name_list = ['Ted', 'Homer', 'Beth', 'Liz', 'Don', 'Sara', 'Colter', 'Chas', 'Frankie', 'Taylor']
print(len(name_list))
name_list

10

['Ted',
 'Homer',
 'Beth',
 'Liz',
 'Don',
 'Sara',
 'Colter',
 'Chas',
 'Frankie',
 'Taylor']

In [5]:
# Make a list with ten genders of your choosing
gender_list = ['m', 'm', 'f', 'f', 'm', 'nb', 'nb', 'm', 'f', 'f']
print(len(gender_list))
gender_list

10

['m', 'm', 'f', 'f', 'm', 'nb', 'nb', 'm', 'f', 'f']

In [18]:
# Make a list with ten ages of your choosing
age_list = [10, 12, 15, 2, 50, 23, 7, 23, 13, 32]
print(len(age_list))
age_list

10

[10, 12, 15, 2, 50, 23, 7, 23, 13, 32]

In [7]:
import numpy as np

# Make a list with ten heights of your choosing, using floating point data
height_list = np.random.randint(low = 60, high = 75, size = 10)
print(len(height_list))
height_list

10

array([64, 70, 74, 70, 63, 72, 63, 71, 69, 67])

In [8]:
# Make a list with ten weights of your choosing, using floating point data
weight_list = np.random.randint(low = 120, high = 250, size = 10)
print(len(weight_list))
weight_list

10

array([203, 122, 187, 189, 197, 224, 216, 248, 184, 211])

In [9]:
# Make a slice of the first five names as a new list
n_slice = name_list[:5]
n_slice

['Ted', 'Homer', 'Beth', 'Liz', 'Don']

In [21]:
# Make a slice of the last three ages as a new list
age_slice = age_list[-3:]
age_slice

[23, 13, 32]

## For Loops

In [22]:
# Write a for loop that prints the names of each person
for name in name_list:
    print(name)

Ted
Homer
Beth
Liz
Don
Sara
Colter
Chas
Frankie
Taylor

In [24]:
# Write a nested for loop that prints the name and age of each person on the same line
for i, name in enumerate(name_list):
    for j, age in enumerate(age_list):
        if i==j:
            print(name, age)

Ted 10
Homer 12
Beth 15
Liz 2
Don 50
Sara 23
Colter 7
Chas 23
Frankie 13
Taylor 32

In [26]:
# Write a single for loop that uses zip to print the first name and age of each person the same line
for i in zip(name_list, age_list):
    print(i[0], i[1])

Ted 10
Homer 12
Beth 15
Liz 2
Don 50
Sara 23
Colter 7
Chas 23
Frankie 13
Taylor 32

In [27]:
# Write a for loop that uses 'enumerate' for your name list and prints each name
# and index number, but stops printing for the 8th person in the list
for i, name in enumerate(name_list):
    print(name, i)
    
    if i+1 == 8:
        break

Ted 0
Homer 1
Beth 2
Liz 3
Don 4
Sara 5
Colter 6
Chas 7

In [28]:
# Write a nested for loop that prints weight divided by eight 
for weight in weight_list:
    print(weight/8)

25.375
15.25
23.375
23.625
24.625
28.0
27.0
31.0
23.0
26.375

In [29]:
# Write a for loop that calculates weight divided by eight and saves it to a new list

new_list = [] # hint you'll need this outside your loop 

for weight in weight_list:
    ans = weight/8 
    new_list.append(ans) # hint you'll need this in your loop

new_list

[25.375, 15.25, 23.375, 23.625, 24.625, 28.0, 27.0, 31.0, 23.0, 26.375]

### Question 1: Explain what the zip key word does in your own words? What kind of data does it produce? Is this data mutable?

### Answer 1:  
`zip()` returns an iterator that takes iterables - objects that can return items one at a time - and returns tuples of the iterable items. In other words, it zips together lists, usually of equal length. Tuples are like lists, but they are immutable, meaning that items cannot be changed.

## List Comprehension

In [32]:
# Use list comprehention and zip to add the age to each name string to make a new list

new_list = [x + ' ' + str(y) for x, y in zip(name_list, age_list)] # hint your code will look something like this 
new_list

['Ted 10',
 'Homer 12',
 'Beth 15',
 'Liz 2',
 'Don 50',
 'Sara 23',
 'Colter 7',
 'Chas 23',
 'Frankie 13',
 'Taylor 32']

In [34]:
# Use list comprehention to add '.csv' to each name in your name list to make a new list
new_list = [x + '.csv' for x in name_list]
new_list

['Ted.csv',
 'Homer.csv',
 'Beth.csv',
 'Liz.csv',
 'Don.csv',
 'Sara.csv',
 'Colter.csv',
 'Chas.csv',
 'Frankie.csv',
 'Taylor.csv']

## Dictionaries

In [37]:
# Make a dictionary with name, gender, ages, heights, and weights as keys and the corresponding list as the values
my_dict = {'name' : name_list, 
           'gender' : gender_list,
           'age' : age_list,
           'height' : height_list,
           'weight' : weight_list
          }
my_dict

{'name': ['Ted',
  'Homer',
  'Beth',
  'Liz',
  'Don',
  'Sara',
  'Colter',
  'Chas',
  'Frankie',
  'Taylor'],
 'gender': ['m', 'm', 'f', 'f', 'm', 'nb', 'nb', 'm', 'f', 'f'],
 'age': [10, 12, 15, 2, 50, 23, 7, 23, 13, 32],
 'height': array([64, 70, 74, 70, 63, 72, 63, 71, 69, 67]),
 'weight': array([203, 122, 187, 189, 197, 224, 216, 248, 184, 211])}

In [39]:
# Write a loop that prints the each key and the corresponding first value 
for key, value in my_dict.items():
    print(key, value[0])

name Ted
gender m
age 10
height 64
weight 203

In [40]:
# Turn your diectionary into a Pandas dataframe with the code below
import pandas as pd

df = pd.DataFrame(my_dict) # my_dict is the dictionary you created above 
df

      name gender  age  height  weight
0      Ted      m   10      64     203
1    Homer      m   12      70     122
2     Beth      f   15      74     187
3      Liz      f    2      70     189
4      Don      m   50      63     197
5     Sara     nb   23      72     224
6   Colter     nb    7      63     216
7     Chas      m   23      71     248
8  Frankie      f   13      69     184
9   Taylor      f   32      67     211

In [42]:
# Print the column names of your dataframe
df.columns

Index(['name', 'gender', 'age', 'height', 'weight'], dtype='object')

In [43]:
# Make a new column that is weight divided by height
df['wfh'] = df['weight'] / df['height']

In [44]:
# Print the data types of each column
df.dtypes

name       object
gender     object
age         int64
height      int64
weight      int64
wfh       float64
dtype: object

### Question 2: In a few sentences, explain why data types matter in Python.

### Answer 2:  
Data types matter for three main reasons. First, data types can generally only interact with the same data type. This is not to say a float cannot be `divided` by an `int` but a `float` divided by a `string` with throw an error. Second, data type determines the amount of memory needed for a program to opperate and can influence the speed of a program. Third, data type relates to the amount of disk space needed to save data/files.

### Question 3:  In a few sentences, explain how Pandas DataFrames use Python's key-value dictionary structure to organize data.

### Answer 3:  
Pandas uses dicts to organizes data into Pandas Series, which can be combined into DataFarmes. Basically, the `keys` are the columns of a DataFrame and the rows are the `values` from a dict. It is important that all values be of the same data or object type in a Pandas Series.